body {
    padding: 20px;
    
}

#gridContainer {
    padding-bottom: 10px;
}

table {
    background-color: #ffff;
    border-spacing: 0;
}

td {
    border: 1px solid #000;
    border-radius: 3px;
    width: 10px;
    height: 10px;
}



span {
    color: #222;
}

#start,
#clear,
#random {
    padding: .75em;
    border-radius: 5px;
    border: none;    
   
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #0e0d0d;
    border-radius: 10px;
}